.musica-cont-nav {
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgb(255, 142, 10);
  background: linear-gradient(
    180deg,
    rgba(255, 142, 10, 0.3) 0%,
    rgba(253, 254, 255, 1) 100px
  );
}

.login-left-arrow {
  position: absolute;
  top: 22px;
}

.musica-cont {
  display: flex;
  flex-direction: row;
}

.musica-cont-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
  z-index: -200px;
}

.musica-cont-body {
  margin-top: 40px;
  letter-spacing: 0.5px;
}

.musicacont-title1 {
  opacity: 80%;
  z-index: -200;
}

.musica-contextual-container {
  display: flex;

  max-height: 180px;
  flex-direction: row;
}

.musica-contextual-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}

.text-button {
  border: none;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.text-button-pressed {
  color: grey;
  background-color: black; /* Cambiar el color del texto a negro cuando el botón está presionado */
}

.crear-playlist-button {
  margin-top: 150px;
}

.dropdown-menubutton-selected div {
  gap: 20px;
  width: 320px;
  height: 48px;
  border: 1px solid black;
  border-color: black;
  border-radius: 0px 16px 0px 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  z-index: 100;
}

.create-playlist {
  background-color: rgb(255, 142, 10);
}
