.button {
  height: 48px;
  width: 320px;
  border-radius: 0px 16px 0px 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  outline: none;
  margin-top: 7px;
  margin-bottom: 7px;
  cursor: pointer;
  color: #26262e;
}

.button-orange {
  background-color: #ff8e0a;
  border: none;
  color: white;
}

.button-black {
  background-color: transparent;
  border-style: solid;
  border-color: #26262e;
  border-width: 2px;
}

.button-transparent {
  height: 80px;
  width: 320px;
  border-radius: 0px 16px 0px 16px;
  font-family: "Rubik", sans-serif;
  background-color: white;
  border-color: grey;
}

.button-grey {
  background-color: #e4e6e8;
  border-style: none;
  border-width: 2px;
  color: white;
}

.button-musica-ya {
  background-color: transparent;
  border: none;
}

.button-transparente {
  height: 48px;
  width: 320px;
  border-radius: 0px 16px 0px 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
}

.buttons-musicaya {
  height: 48px;
  width: fit-content;
  border-radius: 0px 16px 0px 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  width: fit-content;
}
