.login-container {
  font-family: "Rubik", sans-serif;
}

.login-left-arrow {
  position: absolute;
  top: 37px;
  left: 20px;
}

.login-header {
  background: rgb(255, 142, 10);
  background: linear-gradient(
    180deg,
    rgba(255, 142, 10, 0.3) 0%,
    rgba(253, 254, 255, 1) 100%
  );
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

.input {
  border-color: #e4e6e8;
  border-style: solid;
}

.login-title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
  color: #26262e;
}

.login-container label {
  font-size: 20px;
  display: flex;
  align-items: left;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.login-body {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 11vw;
  text-align: center;
  align-items: center;
  align-content: center;
}

.register-footer {
  margin-top: vw;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #26262e;
  letter-spacing: 0.5px;
  cursor: pointer;
}
