.musicaya-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 80px;
  font-family: "Rubik", sans-serif;
}

.musicaya-title {
  color: #26262e;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.musicaya-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icono1-musicaya {
  width: 50px;
  height: 50px;
}

.icono2-musicaya {
  width: 30px;
  height: 30px;
  display: flex;
}

.musicaya-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 20px;
}

.button-transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
