.musicaya-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 80px;
  font-family: "Rubik", sans-serif;
  background: rgb(255,142,10);
  background: linear-gradient(180deg, rgba(255,142,10,0.3) 0%, rgba(253,254,255,1) 100%);
}

.musicaya-title {
  color: #26262e;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
}

.musicaya-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  justify-content: space-around;
}

.icono1-musicaya {
  width: 30px;
  height: 30px;
}

.icono2-musicaya {
  width: 30px;
  height: 30px;
  display: flex;
}

.musicaya-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 20px;
}

.button-transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: transparent;
}

.photo-my1 {
  position: absolute;
  z-index: -2;
  border-radius: 0px 0px 0px 16px;
  margin-top: 7px;
}

.photo-my2 {
  position: absolute;
  z-index: -2;
  border-radius: 0px 0px 0px 16px;
  margin-top: 7px;
}

.title-cupido {
  font-family: "Rubik", sans-serif;
  position: absolute;
  opacity: 70%;
}

.title-contextual {
  font-family: "Rubik", sans-serif;
  position: absolute;
}

.cupido-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 100px;
}

.text-cupido {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  margin-top: 44px;
  opacity: 50%;
  max-width: 200px;
}

.home-navbar{
background: rgb(255,142,10);
background: linear-gradient(0deg, rgba(255,142,10,0.3) 0%, rgba(253,254,255,1) 100%);
}