.musicCurrentCupid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}
.musicCurrentCupid-mainImg {    
  width: 300px;
  height: 33vh;
  margin-top: 10%;
  border-radius: 0 50px 0 50px;
  background-repeat: no-repeat;  
  background-size:cover;
}

.musicCurrentCupid-noImg{
  width: 300px;
  height: 33vh;
  margin-top: 10%;
  background-color: rgb(206, 197, 197);
  border-radius: 0 50px 0 50px;
}
.musicCurrentCupid-buttons_container {
  position: relative;
  width: 45vw;
  display: flex;
  justify-content: space-between;
  top: -40px;
}
.musicCurrentCupid-buttona {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-image: url("../../../../public/images/likebtn.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
}
.musicCurrentCupid-buttonb {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;  
    background-image: url("../../../../public/images/passbtn.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
  }

  .musicCurrentCupid-theme_name{
    margin-top: -20px;
    width: 100vw;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    color: #26262E;
    font-weight: 500;    
  }
